body {
    background-color: black;
}

nav {
    background-color: darkred;
    display:flex;
    padding: 30px;
    justify-content: space-around;
    font-size: 50px;
}

.heading {
    color: white;
}


img {
    width: 200px;
}

div {
    text-align: center;
    align-content: flex-start;
}

img-with-text {
    display: flex;
    justify-content: space-around;
}

h1 {
    color: Darkred;
}

.Boom {
    display: flex;
    justify-content: space-around;
}

h2 {
    color: black;
    font-size: small;
